<html>
	<head>
		<title>RoyCo Roofing</title>
        
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel='stylesheet' href='css/font-awesome.min.css'>
		<link rel='stylesheet' href='css/style.css'>
		<script src='js/index.js'></script>
        <script src='js/navbarToggle.js'></script>
	</head>
	
	<header class='header'>
		<span class='logo-text__container'>
			<span class='logo-text__main'>RoyCo</span>
			<span class='logo-text__sub'>Roofing And Construction</span>
		</span>
		
		<i id='js-nav-toggle' class='nav__toggle fa fa-bars'></i>

		<nav id='js-nav-bar' class='nav js-navbar-hidden'>
            <ul>
                <li class='nav__link'>
                    <a href='index.html'>Home</a>
                </li>
                <li class='nav__link'>
                    <a href='index.html'>Gallery</a>
                </li>
                <li class='nav__link'>
                    <a href='reviews.html'>Reviews</a>
                </li>
                <li class='nav__link'>
                    <a href='index.html'>About</a>
                </li>
                <li class='nav__link'>
                    <a href='index.html'>Contact</a>
                </li>
            </ul>
		</nav>


	</header>
	<body>
	{{{ contents }}}
		
	{{!--<!--
		THIS IS A HANDLE BARS STYLE COMMENT
		'{{{' instructs handlebars to not escape
		html, unlike '{{' wich will escape html
	-->--}}
	</body>
    
    <footer class='footer'>
        <div class='contain row'>
            <div class='col-33 footer__box padding--12'>
                <p class='text--important'>RoyCo Roofing is certified and insured for your protection. Call anytime between  2am and 3am to get our licence and insurance information</p>
            </div>
            <div class='col-33 footer__box'>
                <h3 class='footer__list__title'>Company</h3>
                <a class='footer__list__link'>
                    <i class='fa fa-plus footer__list__plus'></i> Home
                </a>
                <a class='footer__list__link'>
                    <i class='fa fa-plus footer__list__plus'></i> Gallery
                </a>
                <a class='footer__list__link'>
                    <i class='fa fa-plus footer__list__plus'></i> Reviews
                </a>
                <a class='footer__list__link'>
                    <i class='fa fa-plus footer__list__plus'></i> Contact
                </a>
                <a class='footer__list__link'>
                    <i class='fa fa-plus footer__list__plus'></i> About
                </a>
            </div>
            <div class='col-33 footer__box'>
                <h3 class='footer__list__title'>Services</h3>
                <a class='footer__list__link'>
                    <i class='fa fa-plus footer__list__plus'></i> Tile Roof / Shingle Roof
                </a>
                <a class='footer__list__link'>
                    <i class='fa fa-plus footer__list__plus'></i> Repair
                </a>
                <a class='footer__list__link'>
                    <i class='fa fa-plus footer__list__plus'></i> Removal
                </a>
                <a class='footer__list__link'>
                    <i class='fa fa-plus footer__list__plus'></i> Glory Hole Instalation
                </a>
                <a class='footer__list__link'>
                    <i class='fa fa-plus footer__list__plus'></i> Basements
                </a>
                <a class='footer__list__link'>
                    <i class='fa fa-plus footer__list__plus'></i> Other
                </a>
            </div>
        </div>
        <div class='contain'>
            <div class='footer__info--left color--dark-gray'>
                Designed by <a href='' class='color--orange'>Thiago HPC</a>
            </div>
            <div class='footer__info--right'>
                <a href='' class='social-icon--facebook'></a>
                <a href='' class='social-icon--twitter'></a>
                <a href='' class='social-icon--google'></a>
            </div>
        </div>
    </footer>

</html>








